<% provide(:title, 'About us') %>

<h1>About us</h1>
<p>Click <%= link_to "home", static_pages_home_path %> to go to 
home page.</p>
<p>Click <%= link_to "help", static_pages_help_path %> to go to 
help page.</p>
<p>Find me in app/views/static_pages/about.html.erb</p>