<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>This is a <%= link_to "help", static_pages_help_path %> page.</p>
<p>Click <%= link_to "about", static_pages_about_path %> to go to 
about page.</p>
<p>Find me in app/views/static_pages/help.html.erb</p>