<% if signed_in? %>
  <div class="row">
    <div class="col-lg-8">
      <h3>Pin Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to djpost</h1>
  <h2>
    This is the home page for the djpost.
  </h2> 
   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<img alt="Rails" src="/assets/rails.png" />
<% end %>