
<h1>Home</h1>
<p>Click <%= link_to "about", static_pages_about_path %> to go to 
home page.</p>
<p>Click <%= link_to "help", static_pages_help_path %> to go to 
help page.</p>
<p>Click <%= link_to "contact", static_pages_contact_path %> to go to 
help page.</p>