<li>
  <span class="content">
  <%= link_to image_tag(pin.url, :class => 'img-small'), 
        pin_path(pin.id) %>
  <%= link_to "Like", pin, method: :delete,
                            data: { confirm: "You sure?" },
                            title: pin.description %>
  <% if current_user?(pin.user) %>
    <%= link_to "delete", pin, method: :delete,
                              data: { confirm: "You sure?" },
                              title: pin.description %>
  <% end %>
  </span>
</li>