<li>
  <span class="content"><%= pin.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(pin.created_at) %> ago.
  </span>
  <% if current_user?(pin.user) %>
    <%= link_to "delete", pin, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: pin.content %>
  <% end %>
</li>