<li>
  <span class="content">
  <%= link_to image_tag(pin.url, :class => 'img-small'), 
        pin_path(pin.id) %>

  <%= link_to "Repin", new_pin_path(pin_id: pin.id, repin_id: pin.repin_id),
             class: "btn btn-warning btn-xs" %>
  <% if current_user?(pin.user) %>
    <%= link_to "delete", pin, method: :delete,
                              data: { confirm: "You sure?" },
                              title: pin.description, class: "btn btn-danger btn-xs"%>
  <% end %>
  </span>
</li>