<li>
  <span class="content">
  <%= link_to board.name, board_path(board.id) %>
  <% if current_user?(board.user) %>
    <%= link_to "delete", board, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: board.name, 
                                     class: "btn btn-danger btn-xs"%>
  <% end %>
  </span>
</li>