<footer class="footer">
  <small>
    <a href="http://www.djiango.me">blog</a>
    of djiango
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.weibo.com/jiangdiwei">weibo</a></li>
    </ul>
  </nav>
</footer>